* { margin: 0; padding: 0; box-sizing: border-box;


  --textcolor:#121212;
  --bgcolor:#fff;
  --titulo-bg: #ccc;
}

@media (prefers-color-scheme: dark) {
* {
    --textcolor:#dadada;
    --bgcolor:#141414;
    --titulo-bg: #ccc;
  }
}

html { 
    font-family: Sans; 
    font-size: 1.5em;
    color: var(--textcolor);
    background-color: var(--bgcolor);
}

h1 {
  margin: 5px 2vw;
  }

a {
    text-decoration: none;
}

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  background-color: darkgrey;
  width: 90%;
  border: solid black 2px;
  border-radius: 10px;
  margin: 1rem auto;
  padding: 5px;
}

nav > a {
  display: inline-block;
  margin: 1px;
  text-decoration: none;
  color: black;
}
nav > a:hover{
  background-color: grey;
  color: white;
}
section { 
  padding: 1vw 3vw;
  width: 90%;
  margin: 5% auto;
}

.juego, h2 {
  display: flex;
  justify-content: space-between;
  border: solid 2px #de1f23;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
}

h2 { border: 2px solid black; position: sticky; top: 2px; background-color: var(--titulo-bg); }

@media screen and (max-width: 600px) {
	nav {
	  grid-template-columns: auto;
	}
	.juego > span:nth-child(2) {
		display: none;
	}
}

@media screen and (min-width:1200px) {
	nav {
	  grid-template-columns: repeat(5, 1fr);
	}
}
